<div>
    {{#each this}}
    <div class="card align mx-4 mt-4 bg-secondary bg-gradient text-white">
        <h4 class="card-header"></h4>
        <section class="card-body">
            <div>
                {{content}}
            </div>
            <div>
                {{user.username}}
            </div>
        </section>
    </div>
</div>