<section id="timeline" class="container">
    {{#each postSerialized as |post|}}
        <article class="post-card">
            <div class="jumbotron mb-0 d-flex justify-content-between align-items-center post-banner">
                <h2>{{post.post_name}}</h2>
            </div>
            <div class="container bg-light flex-row">
                <p>{{post.post_description}}</p>
                <div class="d-flex align-items-end">
                    <p class="ml-auto">Posted by {{post.User.username}} on {{post.date_created}}</p>
                </div>
            </div>
            <div class="bg-light">

            <button class="btn btn-outline-primary">Add Comment</button>
            
            </div>
    
        </article>
        {{/each}}
        {{!-- <article class="post-card">
            <div class="jumbotron mb-0 d-flex justify-content-between align-items-center post-banner">
                <h2>Why MVC is so important</h2>
            </div>
            <div class="container bg-light flex-row">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolor, quasi soluta accusantium blanditiis nobis. Dignissimos consectetur laudantium doloribus. Officia?</p>
                <div class="d-flex align-items-end">
                    <p class="ml-auto">Posted by mario on 6/13/2022</p>
                </div>
            </div>
        </article>
        <article class="post-card">
            <div class="jumbotron mb-0 d-flex justify-content-between align-items-center post-banner">
                <h2>Why MVC is so important</h2>
            </div>
            <div class="container bg-light flex-row">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolor, quasi soluta accusantium blanditiis nobis. Dignissimos consectetur laudantium doloribus. Officia?</p>
                <div class="d-flex align-items-end">
                    <p class="ml-auto">Posted by mario on 6/13/2022</p>
                </div>
            </div>
        </article> --}}
        
        
    </section>

    

    

   