 <section id="write-post">
        <div class="container">
            <div class="card">
                <div class="card-header banner">Create New Post</div>
                <form class="post-menu">
                    <div class="form-group">
                        <label for="title">Title of Post: </label>
                        <input type="text" class="form-control" name="title" id="title">
                    </div>
                    <div class="form-group">
                        <label for="content">Content: </label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Post</button>
                </form>
            </div>
        </div>
    </section>
    <script src="./js/writepost.js"></script>